@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /*         
technology bg   dark : #4B6BFB		, lite mode : #4B6BFB0D
technology bg   dark : #4B6BFB		, lite mode : #E8E8EA
link col  dark: #BABABF			#3B3C4A */

  :root {
    --darkMode: #ffffff;
    --paragraphCol: #3b3c4a;
    --headFootercol: #f6f6f7;
    --paragraphCol: #3b3c4a;
    --cardBg: #e8e8ea;
    --searchBox: #f4f4f5;
    --ProfileText: #97989f;
    --emailInput: #97989f;
    --emailBox: #ffffff;
    --TechBg: #4b6bfb0d;
    --Toggle: #e8e8ea;
    --linkCol: #3b3c4a;
  }

  .darkenmode {
    --darkMode: #181a2a;
    --paragraphCol: #3b3c4a;
    --headFootercol: #141624;
    --paragraphCol: #f6f6f7;
    --cardBg: #242535;
    --searchBox: #242535;
    --ProfileText: #97989f;
    --emailInput: #181a2a;
    --emailBox: #242535;
    --TechBg: hsla(229, 96%, 64%, 0.05);
    --Toggle: #4b6bfb;
    --linkCol: #bababf;
  }

  body {
    background-color: var(--darkMode);
  }
  nav a {
    color: var(--linkCol);
  }
  .search {
    background-color: var(--searchBox);
  }
  .overlapping-box {
    background-color: var(--darkMode);
    color: var(--paragraphCol);
  }
  .overlapping-box p {
    color: var(--ProfileText);
  }

  .advert-box {
    background-color: var(--headFootercol);
    color: var(--paragraphCol);
  }
  .advert-box p {
    color: var(--ProfileText);
  }
  .advert-box h4 {
    color: var(--ProfileText);
  }
  .section1 h3 {
    color: var(--paragraphCol);
  }
  .cards {
    background-color: var(--darkMode);
    border: 2px solid var(--cardBg);
  }
  .cards a {
    background-color: var(--TechBg);
  }
  .cards p {
    color: var(--ProfileText);
  }
  .cards h3 {
    color: var(--paragraphCol);
  }
  /* .profile p {
    color: var(--ProfileText);
  } */
  footer {
    background-color: var(--headFootercol);
    color: var(--paragraphCol);
  }
  footer a {
    color: var(--linkCol);
  }
  .footer-form {
    background-color: var(--emailBox);
    border: 2px solid var(--cardBg);
  }

  .footer-form h3 {
    color: var(--paragraphCol);
  }
  #emailInput {
    background-color: var(--emailInput);
    color: var(--paragraphCol);
  }
  #emailInput::placeholder {
    color: var(--paragraphCol);
  }
  .first-footer-cont a {
    color: var(--paragraphCol);
  }
  .first-footer-cont h4 {
    color: var(--paragraphCol);
  }
  .first-footer-cont p {
    color: var(--paragraphCol);
  }
  .first-footer-cont span {
    color: var(--paragraphCol);
  }
  #mobile-menu {
    background-color: var(--darkMode);
    color: var(--paragraphCol);
  }
  .mobile-menu-icons {
    color: var(--paragraphCol);
  }
  .x-icon {
    color: var(--paragraphCol);
  }
  .section3 {
    color: var(--paragraphCol);
  }
  article {
    background-color: var(--searchBox);
    color: var(--paragraphCol);
  }
  .section4 {
    color: var(--paragraphCol);
  }
  /* .harm-icon {
    background-color: var(--darkMode);
  }

  .harm-icon::before {
    content: "";
    background-color: white;
    color: var(--paragraphCol);
  }
  .harm-icon::after {
    content: "";
    background-color: var(--darkMode);
    color: var(--paragraphCol);
  } */

  /* blog///////////////////////// */
  .page-title {
    color: var(--paragraphCol);
  }
  .home {
    color: var(--paragraphCol);
  }
  .toggle-btn {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45
        [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-[720deg];
  }

  nav {
    display: flex;
    gap: 0;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(132, 124, 124, 0.721);
    backdrop-filter: blur(-1px);
    -webkit-backdrop-filter: blur(100px);
    z-index: -1;
    width: 100%;
    /* height: 50px; */
    /* padding-top: 20px;
    padding-bottom: 200px; */
    /* padding-left: 30px;
    padding-right: 30px; */
  }

  .error-msg {
    color: red;
  }
  .success-msg {
    color: green;
  }
  .errorBtn {
    color: red;
  }
  .successBtn {
    color: green;
  }

  #dark-btn {
    transition:
      padding-left 0.5s,
      background 0.5s;
  }
  /*
  .sunny {
    transform: translateX(30px);
    transform 1s ease;
  }
  #sunny {
  } */
  #dark-btn.dark-btn-on {
    padding-left: 30px;
    background-color: var(--Toggle);
  }
}
